<div>
    <h3>予約リスト</h3>
    <table class="table">
        <thead class="tead-light">
            <tr>
                <th>チェックイン</th>
                <th>チェックアウト</th>
                <th>名前</th>
                <th>電話番号</th>
                <th>メールアドレス</th>
                <th>大人</th>
                <th>小学生</th>
                <th>未就学児</th>
                <th>幼児</th>
                <th>部屋の数</th>
                <th>到着時刻</th>
                <th>交通手段</th>
                <th>食事</th>
                <th>備考</th>
                <h1>for example1</h1>
            </tr>
        </thead>
    </table>
</div>