.reservation{
    background-color: #000000c7;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    animation: fadeIn ease 0.5s;
    .reserve-modal{
        background-color: #fff;
        top: 10%;
        right: 20%;
        width: 60%;
        height: 80%;
        position: fixed;
        z-index: 101;
        border-radius: 15px;
        button{
            font-size: xx-large;
            color: #bf360c;
        }
        button:hover{
            color: lighten($color: #bf360c, $amount: 50%);
        }
        .reserve-item {
            p{
                cursor: pointer;
            }
            p:hover{
                color: #bf360c;
            }  
        } 
    }
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}