nav.navbar.client-nav{
    margin-top: 3vh;
    height: 13vh;
    background-color: none;
    z-index: 1;
    .navbar-brand{
        height: 13vh;
        background-color: black;
        img{
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    .navbar-nav{
        background: #37474f28;
    }
    .navbar-toggler.collapsed, .navbar-toggler{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    a.nav-link{
        color: #37474f;
        font-size: large;
        font-weight: bold;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        border-right: none;
    }
    a.nav-link.translate{
        font-family: 'Montserrat Alternates', sans-serif;

    }
    @media screen and (min-width: 990px) {
        .navbar-nav{
            background: none;
        }
        a.nav-link{
            border-right: solid 1.5px #37474f;
        }
    }
    a.nav-link.border-none{
        border-right: none;
    }
}

@media screen and (min-width: 1000px) {
    nav.navbar.client-nav{
        background-color: #37474f1e;
    }
}

.reserve-cat{
    position: fixed;
    top: 75vh;
    left: 80vw;
    z-index: 10;
    #cat{
        height: 20vh;
        cursor: pointer;
    }
}

.reserve-word{
    position: fixed;
    top: 62vh;
    left: 84vw;
    z-index: 10;
    #reserve{
        height: 20vh;
        cursor: pointer;
    }
}

.reserve-cat-small{
    position: fixed;
    top: 75vh;
    left: 60vw;
    z-index: 10;
    #cat-small{
        height: 20vh;
        cursor: pointer;
    }
    .btn.btn-small{
        font-size: small;
    }
}

.main{
    background-image: url(../pics/background.jpg);
    background-repeat: repeat-y;
    min-height: 150vh;
}

.footer {
    background-color: #37474f;
    color: white;
    position: relative;
    z-index: 2;
    bottom: 0;
    min-height: 100vh;
    img{
        height: 15vh;
    }
    .contact, .address{
        p.title{
            font-size: x-large;
            color: #b0bec5;
        }
        p.number{
            font-size: xx-large;
            color: #eceff1;
            small{
                color: #b0bec5;
            }
        }
        p.addnumber{
            font-size: medium;
            color: #eceff1;
        }
        p.addstring{
            font-size: x-large;
            color: #eceff1;
        }
    }
    .copyright{
        color: #b0bec5;
    }
}

.footer-mobile {
    padding-top: 8vh;
    background-color: #37474f;
    color: white;
    position: relative;
    z-index: 2;
    bottom: 0;
    min-height: 100vh;
    img{
        height: 10vh;
    }
    .contact, .address{
        p.title{
            font-size: medium;
            color: #b0bec5;
            padding-left: 8vw;
        }
        p.number{
            font-size: large;
            color: #eceff1;
            padding-left: 16vw;
            small{
                color: #b0bec5;
            }
        }
        p.addnumber{
            font-size: small;
            color: #eceff1;
            padding-left: 16vw;
        }
        p.addstring{
            font-size: medium;
            color: #eceff1;
            padding-left: 16vw;
        }
    }
    .copyright{
        font-size: small;
        color: #b0bec5;
    }
}