.main{
    background-image: url(../pics/background.jpg);
    background-repeat: repeat-y;
    min-height: 150vh;

    h1.main-title{
        font-size: xx-large;
        padding-top: 8%;
    }
}

